$main-font: 'Lato';
$primary-color: #17001f;
$main-background: #383838;
$container-background: #202020;
$highlight-color: rgba(50, 2, 59, .8);
$button-primary: #C77DFF;
$scroll-container: #9c9c9c;
$title-color: #ffffff;
$modal-background: rgb(40, 40, 40);