$main-font: 'Lato';
$primary-color: #17001f;
$main-background: #240046;
$container-background: #342153;
$highlight-color: #5A189A;
$button-primary: #C77DFF;
$scroll-container: #461c75;
$title-color: #ffd30f


// $main-font: 'Lato';
// $primary-color: #17001f;
// $main-background: #FFFFFF;
// $container-background: blue;
// $highlight-color: red;
// $button-primary: #C77DFF;
// $scroll-container: #461c75;
// $title-color: #ffd30f