#addComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

#addComponent {
  // this is a big long button
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  padding: .3rem;
  background-color: $button-primary;
}

#add-component-input{
  border: 0;
  border-bottom: 2px solid gray;
  &::placeholder {
    color: transparent;
  }
  &:placeholder-shown ~ .add-component-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}


#modal-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}