#addChild {
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
}

#addableElementsContainer {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  height: 80%;
  overflow-y: auto;
  align-content: flex-start;
}

.addableElement {
  display: flex;
  align-items: center;
  font-size: 20px;
  border: 1px solid black;
  height: 40px;
  margin: 8px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #e6e6e6;
  }
}