#app-canvas{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#phone-screen-container{
  border: 3px solid black;
  border-radius: 40px;
  width: 60%;
  max-width: 350px;
  height: 725px;
  padding: 1rem;
  margin-top: 3rem;
}
//2.163