#app-canvas{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: $container-background;
}

#phone-screen-container{
  border: 3px solid black;
  border-radius: 40px;
  width: 60%;
  max-width: 350px;
  height: 725px;
  padding: 1rem;
  margin-top: 3rem;
  background-color: white;
}
//2.163