#code-block-container{
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: $container-background;
  padding: 10px;
  max-height: 100%;
  overflow-y: scroll;
}

#code-block-container::-webkit-scrollbar{
  display: none;
}

.custom-element {
  color: #f240f8;
}

#code-preview-container{

}