#code-block-container{
  border: 1px solid black;
  border-radius: 10px;
  background-color: $container-background;
  padding: 20px;
  height: 45%;
  overflow-y: hidden;
}

#code-block-container::-webkit-scrollbar{
  display: none;
}

.custom-element {
  color: #f240f8;
}

#code-preview-container{
  overflow-y: scroll;
  height: 90%;
}

pre{
  max-width: 90%px;
}

#code-preview-container::-webkit-scrollbar{
  display: none;
}