#componentList {
  text-align: center;
  border: 1px solid black;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
  height: 50%;
  background-color: $container-background;
  h2 {
    margin-bottom: 20px;
    color: $title-color;
}

#componentListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 80%;
}

#customComps {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  background-color: $scroll-container;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 16px;
  height: 80%;
  overflow-y: scroll;
}

#customComps::-webkit-scrollbar{
  display: none;
}

.componentListItem {
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  min-height: 50px;
  border-radius: 10px;
  font-size: 20px;
  span {
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 14px;
  }
  button {
    font-size: 16px;
    margin-right: 14px;
    width: 150px;
    height: 60%;
    border-radius: 8px;
    padding: 5px 10px;
  }
  button:hover{
    cursor: pointer;
  }
}

.highlightedComponentListItem {
  background-color: $highlight-color;
  color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  min-height: 50px;
  border-radius: 10px;
  font-size: 20px;
  span {
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 14px;
  }
  button {
    font-size: 16px;
    margin-right: 14px;
    width: 150px;
    height: 60%;
    border-radius: 8px;
    padding: 5px 10px;
  }
  button:hover{
    cursor: pointer;
  }
}}

#stateModal {
  text-align: center;
  border: 1px solid black;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
  height: 100%;
  background-color: rgba(191, 0, 255, 0.2);
  h2 {
    margin-bottom: 20px;
  }

  .state-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 80%;
    background-color: whitesmoke;

  }
#state-item {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  background-color: whitesmoke;

h2 {
  margin-bottom: 20px;
}
}
}