#componentList {
  text-align: center;
  border: 1px solid black;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
  height: 50%;
  background-color: $container-background;
  h2 {
    margin-bottom: 20px;
    color: $title-color;
}

#componentListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 80%;
}

#customComps {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  background-color: $scroll-container;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 16px;
  height: 80%;
  overflow-y: scroll;
}

#customComps::-webkit-scrollbar{
  display: none;
}

.componentListItem {
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  min-height: 50px;
  border-radius: 10px;
  font-size: 17px;
  span {
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 14px;
  }
  button {
    font-size: 16px;
    margin-right: 14px;
    width: 125px;
    height: 60%;
    border-radius: 8px;
    border: 0;
    padding: 5px 10px;
    background-color: $button-primary;
  }
  button:hover{
    cursor: pointer;
  }
}


.componentListItem:hover{
  transition: .3s;
  background-color: $highlight-color;
  cursor: pointer;
}
.highlightedComponentListItem {
  background-color: $highlight-color;
  color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  min-height: 50px;
  border-radius: 10px;
  font-size:  17px;
  span {
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 14px;
  }
  button {
    font-size: 16px;
    margin-right: 14px;
    width: 125px;
    height: 60%;
    border-radius: 8px;
    border: 0;
    padding: 5px 10px;
    background-color: $button-primary;
  }
  button:hover{
    cursor: pointer;
  }
}}

#stateModal {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
  height: 400px;
  background-color: $modal-background;
  color: white;
  h2 {
    margin-bottom: 20px;
  }

}

.states-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  height: fit-content;

  color: black;
}

.state-item{
  font-size: 1.3rem;
}

.state-item:hover{
  cursor: pointer;
}

@keyframes strike{
  0% {width: 0;}
  100% {width: 100%;}
}

.strike{
  position: relative;
}

.strike:hover {
  content: ' ';
  position: relative;
  left: 0;
  width: 100%;
  height: 1px;
  animation-name: strike;
  animation-duration: 1s;
  text-decoration: line-through;
}

#state-modal-form{
  display: flex;
  position: relative;
  width: 60%;
  transition: border-color 0.2s;
  margin-top: 3rem;
}

#state-modal-input{
  border: 0;
  border-bottom: 2px solid rgb(181, 181, 181);
  background-color: transparent;
  position: relative;
  z-index: 999;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

#state-modal-label{
  position: absolute;
  top: 0px;
  display: block;
  font-size: 1.2rem;
  cursor: text;
  z-index: 1;
}


#state-modal-input:focus {
  ~#state-modal-label {
    position: absolute;
    display: block;
    color: $button-primary;
    transition: .3s;
    margin-bottom: 10px;
    font-size: 1rem;
    top: -30px;
  }
  outline: none;
  transition: .3s;
  border-width: 3px;
  border-image: linear-gradient(to right, $button-primary, rgb(73, 73, 73));
  border-image-slice: 1;
  color: rgb(146, 146, 146);
}

#deleteModal{
  background-color: darkgray;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#delete-modal-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
