@import './componentDetails.scss';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  display: flex;
}

#right-container {
  display: flex;
  flex-direction: column;
}

#left-container {
  display: flex;
  flex-direction: column;
}

