* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: column;
}


#main-container {
  display: flex;
}

#right-container {
  display: flex;
  flex-direction: column;
}

#left-container {
  display: flex;
  flex-direction: column;
  width: 33%;
}


@import './componentDetails.scss';
@import 'addChild.scss';