* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: 1px solid lime;
}


body {
  display: flex;
  flex-direction: column;
}


#main-container {
  display: flex;
  height: 100vh;
}

#right-container {
  display: flex;
  flex-direction: column;
  width: 33%
}

#left-container {
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 12px;
}

#app-canvas {
  width: 33%;
}

@import '_variables.scss';
@import 'addChild.scss';
@import 'addComponent.scss';
@import 'appCanvas.scss';
@import 'componentDetails.scss';
@import 'componentList.scss';