#modal-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

#actual-modal{
  background-color: transparent;
  position: relative;
  width: 500px;
  height: 300px;
}

#close-button{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  top: 0;
  left: 0;
}

#close-button:hover{
  cursor: pointer;
}

#modal-delete-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#modal-delete-button-container{
  margin-top: 1rem;
  display: flex;
  width: 125px;
  justify-content: space-between;
}

.modal-delete-button{
  width: 50px;
}

.error-message{
  color: rgb(221, 27, 27);
  margin-top: 5px;
  white-space: nowrap;
}