#trash-button-container{
  border: 1px solid black;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 85, 85);
}

#trash-button-container:hover{
  cursor: pointer;
}